.article{
    margin-top: 50px;
    margin-bottom: 50px;
}

.admin-table{
    width:100%;
}

.text{
    box-sizing: content-box;
    width: 100px;
}

.container{
    width: 80%;
    height: auto;
    text-align: center;
}

.navbar {
    background-image: url('img/navbar.jpg');
    background-size: 100%;

}
.navbar h3{
    padding: 10px;

}
.navbar p {
    margin-left: 20px;
    margin-right: 200px;
}

.tr{
    margin-right: 50px;
}

.form-colon {
    margin-left: 100px;
}
.center-block{
    width: 100%;
    text-align: center;
}
h3{
    text-align: center;
}


.posts img{
    height: 250px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
    padding: 5px;
}


.fo{
    width: 80%;
    height: auto;
    text-align: center;
}


